.cercle{
    position: absolute;
    z-index: -1;
}

.cercle:nth-of-type(1){
    transform: scale(1.5);
}
.cercle:nth-of-type(2){
    transform: scale(2);
}

.masque-cercle{
    transform-origin: center;
    transform-box: fill-box;
    animation: animation-masque-cercle 5s ease-in-out infinite;
}

@keyframes animation-masque-cercle {
    from, to{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
}