#limites{
    margin-bottom: 100px;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 100px);
}

#ciel{
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    background-color: #8b8b8b;    
}

#sol{
    height: 200px;
    width: 100%;
    background-color: #567f6f;
}

#nuages{
    height: 400px;
    position: relative;
    margin-bottom: auto;
}

#montagnes{
    display: flex;
    position: relative;
}
#montagne-1{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    height: 400px;
    width: 550px;
    background-color: #a2bcb4;
}
#montagne-2{
    position: absolute;
    left: 25%;
    bottom: 0;
    z-index: -3;
    height: 700px;
    width: 500px;
    background-color: #b1d3cb;
}
#montagne-3{
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    height: 500px;
    width: 500px;
    background-color: #8daaa1;
}
#montagne-4{
    position: absolute;
    left: 70%;
    bottom: 0;
    z-index: -2;
    height: 600px;
    width: 700px;
    background-color: #9abcb2;
}

/*Personnage*/

#personnage{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 33%;
    position: absolute;
    width: 175px;
    height: 175px;
    background-color: #fff;
    transform-origin: center center;
}
#personnage:hover{
    cursor: grab;
}

#oeil-g{
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}
#oeil-d{
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

/*Introduction*/

#intro{
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
    pointer-events: none;
}

#titre-intro{
    margin-top: 80px;
    font-family: "Tilt Warp", sans-serif;
    font-size: 8rem;
    color: white;
    text-shadow: black 0px 0px 20px;
    text-decoration: none;
    opacity: 0;

    --deplacementY: -100px;

    scale: 1;
    pointer-events: auto;
    transition: scale 300ms ease, text-shadow 300ms ease;
}

#titre-intro:hover{
    scale: 1.25;
    text-shadow: white 0px 0px 40px;
}