*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #0D0D0D;
}

/*Typographies*/

.titre{
    font-family: 'Tilt Warp', sans-serif;
    color: #ECECEC;
    font-size: 96px;
    text-decoration: none;
}
.sous-titre{
    font-family: 'Josefin Sans', sans-serif;
    color: #ECECEC;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    color: #ECECEC;
}