body{
    overflow: hidden;
}

.titre{
    position: relative;
    margin: 50px;
}

#synopsis{
    margin: 0 auto;
    width: 75%;
    text-align: justify;
    line-height: 1.3;
}

#conteneur-synopsis{
    display: flex;
    flex-direction: column;
}

#genese{
    display: flex;
    flex-direction: row-reverse;
}

/*Formes*/

.losange{
    scale: 3;
    position: absolute;
    z-index: -2;
}
.losange:nth-of-type(1){
    left: -150px;
    top: 100px;
    rotate: -20deg;
}
.losange:nth-of-type(2){
    left: 1400px;
    top: -120px;
    rotate: -30deg;
}
.losange:nth-of-type(3){
    left: 400px;
    top: 900px;
    rotate: 352deg;
}
.losange:nth-of-type(4){
    left: 1000px;
    top: 1000px;
    rotate: 0deg;
}

.cercle{
    position: absolute;
    z-index: -1;
    top: -50%;
    pointer-events: none;
}